$default-font: "Lato-Regular", Arial, sans-serif;
$second-font: "Gilroy-Light", Arial, sans-serif;
$main-title-font: "Gilroy-ExtraBold", Arial, sans-serif;
$title-font: "Lato-Black", Arial, sans-serif;
$second-title-font: "Lato-Medium", Arial, sans-serif;
$latosb: "Lato-Semibold", Arial, sans-serif;
$latol: "Lato-Light", Arial, sans-serif;
$latoh: "Lato-Heavy", Arial, sans-serif;


$accent: #0fa0ae;
$main-color: #434a53;
$main-color07: rgba(67, 74, 83, 0.7);
$black: #000000;
$white: #ffffff;


//
