include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/popup
		include ../common/header
		include ../common/quick-date
		include ../common/how
		include ../common/partners	
		include ../common/way
		include ../common/center
		include ../common/reviews
		include ../common/about
		include ../common/footer
	// END body