include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/popup
		include ../common/header-retailers
		include ../common/participation-retailers
		include ../common/cost-retailers


		include ../common/reviews-retailers
		include ../common/footer
	// END body