.center {
    color: $white;
    position: relative;
    margin-bottom: 49px;
    .main-title {
        margin-bottom: 79px;
        text-align: center;
    }
    .wrap {
        padding: 79px 50px 50px;        
    }

    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
        padding: 18px 23px;
        background-color: rgba(255, 255, 255, 0.9);
        color: $main-color;
        font-size: 18px;
    }
    &__left {
        display: flex;
        align-items: center;
    }
    &__name {
        font-family: $title-font;
    }


    &__right {
        display: flex;
        align-items: center;
    }
    &__date {
        line-height: 1;
        span {
            text-transform: uppercase;
            font-family: $main-title-font;
        }
    }
    &__time {
        font-family: $second-font;
        span {
            text-transform: uppercase;
            font-family: $main-title-font;
        }
    }
    .lines {
        border-width: 2px;
        border-color: $main-color;
        &:after, &:before {
            border-color: $main-color;
        }
        &:before {
            left: -10px;
        }
    }
    &__boxes {
        display: flex;
        justify-content: space-between;
    }
    &-box {
        width: 48%;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 11px;
        &__wrap {
            height: 100%;
            padding: 36px 39px;
            border: 1px solid $white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__title {
            margin: 42px 0 29px;
            font-family: $title-font;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
        }
    }
    &:after {
        content: "";
        width: 100%;
        height: 49px;
        background-color: #f5f5f5;
        position: absolute;
        bottom: -49px;
    }
    .calendar {
        margin-right: 16px;
        margin-bottom: 3px;
        width: 25px;
        height: 25px;
        fill: $main-color;
        &:hover {
            fill: $accent;
        }
    }
}

.handshake {
    width: 96px;
    height: 55px;
    fill: $white;
}
.congress {
    width: 48px;
    height: 48px;
    fill: $white;
}

.center__video {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    video {
        min-height: 100vh;
        min-width: 100vw;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }
}