.header-retailers {
    background: #434a53 url(../img/header-retailer-bg.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position-y: bottom;
    color: #fff;
    height: 100vh;
    min-height: 668px;
    .wrap {
        display: flex;
        flex-direction: column;
    }
    .logo-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 51px;
        margin-bottom: 25px;
    }
    .logo {
        width: 114px;
    }
    .login {
        text-transform: uppercase;
        color: #fff;
        padding: 51px;
        &:hover {
            font-family: $main-title-font;
            background: transparent;
        }
    }
    &__line {
        padding: 0 50px;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        li {
            white-space: nowrap;
            text-transform: uppercase;
            font-size: 10px;
            &.active {
                font-family: $main-title-font;
            }
        }
        .line {
            content: "";
            width: 100%;
            height: 1px;
            background-color: #fff;
            margin: 0 10px;

        }
    }
    &__main {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }
    &__title {
        width: 50%;
        margin-bottom: 86px;
        text-align: right;
        font-size: 76px;
        text-transform: uppercase;
        text-shadow: 0 7px 20px rgba(253, 253, 253, 0.25);
        font-family: "Gilroy-Heavy", Arial, sans-serif;
    }
    &__info {
        width: 50%;
        font-size: 14px;
        line-height: 1.3;
        padding: 20px 58px 20px 76px;
        span {
            color: #0fa2b0;
            margin-right: 10px;
            font-family: $main-title-font;
        }
        p:first-child {
            margin-bottom: 36px;
        }
        li {
            margin-top: 18px;
        }
    }
}
// header-dev
.header-dev {
    color: #434a53;
    .header-overlay {
        background-color: rgba(243, 243, 243, 0.7);
    }
    .header-retailers__title {
        text-shadow: 2px 7px 40px rgba(15, 162, 176, 0.4);
        color: #0fa2b0;
    }
    .line {
        background-color: #434a53;
    }
    .login {
        color: #434a53;
    }
    .logo-color {
        --st4: #434a53;
    }
}