.quick-date {
    padding-top: 95px;
    overflow: hidden;
    .wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
    }
    &__wrap {
        padding-right: 74px;
        width: 57%;
        background-color: #f5f5f5;
        position: relative;
        padding-bottom: 102px;
        &:after {
            content: "";
            position: absolute;
            top: 142px;
            right: -60px;
            width: 20px;
            height: 100%;
            background-color: #f5f5f5;;
            z-index: -1;
        }
    }
    &__main {
  
        padding: 38px 0 32px 250px;
        background: url("../img/quick-date-bg.png");
        background-repeat: no-repeat;
    }
    &__title  {
        text-transform: uppercase;
        font-family: $latol;
        font-size: 18px;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        padding-left: 25px;
        &:after {
            content: "";
            width: 100%;
            display: inline-block;
            border-bottom: 1px dashed $main-color;
            margin-bottom: 6px;
        }
        &:before {
            content: "";
            position: absolute;
            top: 3px;
            left: 4px;
            width: 7px;
            height: 7px;
            border: 1px solid #434a53;
            border-top: none;
            border-right: none;
            transform: rotate(45deg);
        }
    }
    &__text {
        color: $black;
        padding-left: 25px;
        span {
            color: $accent;
        }
    }
    .main-title {
        max-width: 386px;
        line-height: 1.5;
        text-align: right;
        padding-top: 130px;
        padding-bottom: 122px;
        margin-left: auto;
        margin-right: -113px;
        position: relative;
        &__wrap {
            // border-right: 1px dashed $main-color;
            margin-top: -39px;
            margin-bottom: -8px;
            position: relative;
            &:before, &:after {
                content: "";
                position: absolute;
                right: 0;
                width: 1px;
                height: 79px;
                border-right: 1px dashed $main-color;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0;
            }
        }
        &:before, &:after {
            content: "";
            position: absolute;
            right: 109px;
            width: 7px;
            height: 7px;
            border: 1px solid $main-color;
            border-top: none;
            border-right: none;
        }
        &:before {
            top: 74px;
            transform: rotate(-45deg);
        }
        &:after {
            bottom: 74px;
            transform: rotate(135deg);
        }
    }
    &__steps {
        width: 43%;
        padding-left: 91px;
        max-width: 460px;
        li {
            margin-bottom: 51px;
        }
    }


    
}
.quick-date {
    font-size: 16px;
    position: relative;
    &__number {
        font-family: $title-font;
        color: $accent;
        position: absolute;
    }
    &__descr {
        font-family: $main-title-font;
        color: $black;
        padding-left: 37px;
    } 
}
.quick-date__btn {
    position: absolute;
    bottom: 41px;
    right: 49px;
    img {
        width: 24px;
        height: 21px;
    }
    a {
        padding: 14px 14px 11px 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background-color: #a3aab2;
            border-color: #a3aab2;
            color: #fff;
            svg {
                fill: #fff;
            }
        } 
    }
    
}
.main-title {
    span {
        color: $accent;
    }
}
.archive {
    width: 24PX;
    height: 22px;
    fill: #a3aab2;
    margin-right: 12px;
}