.reviews {
    padding-top: 74px;
    padding-bottom: 37px;
    .main-title {
        margin-bottom: 86px;
        text-align: center;
    }
    &__wrap {
        padding: 0 50px 37px;
        padding-bottom: 80px;
    }
    &__slider {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 27%;
            height: 100%;
            background-image: linear-gradient(to left, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            opacity: 0.7;
            pointer-events: none;
        }
    }
}

.reviews-item {
    margin: 0 10px;
    padding: 24px 32px 30px;
    font-size: 14px;
    border: 1px solid #e8e8e8;

    &__name {
        font-family: $title-font;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 23px;
    }
    &__foto {
        margin-bottom: 15px;
    }
    &__company {
        margin-bottom: 7px;
        color: #989ca1;
    }
    &__position {
        margin-bottom: 20px;
    }
    &__review {
        height: 107px;
        overflow: hidden;
        margin-bottom: 28px;
        padding-top: 24px;
        border-top: 1px solid #e8e8e8;
        line-height: 1.2;
        &:before {
            content: "";
            float: left;
            width: 5px;
            height: 90px;
        }
        & > *:first-child {
            float: right;
            width: 100%;
            margin-left: -5px;
        }		
        
        &:after {
            content: "\02026";
            box-sizing: content-box;
            float: right;
            position: relative;
            top: -25px;
            left: 100%; 
            width: 3em;
            margin-left: -3em;
            padding-right: 5px;	
            text-align: right;
            background-size: 100% 100%;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
        }
    }
    &__more {
        display: block;
        margin-bottom: 15px;
        cursor: pointer;
        span {
            border-bottom: 1px dotted $main-color;
            position: relative;
            padding-right: 45px;
            &:after {
                content: "\000362";
                font-size: 33px;
                position: absolute;
                bottom: 4px;
                right: 35px;

            }  
        }
        &:hover {
            color: $accent;
            span {
                border-color: $accent;
            }
        }
        
    }
    &__video {
        display: flex;
        align-items: center;
        svg {
            width: 25px;
            height: 18px;
            fill: $main-color;
            margin-right: 8px;
        }
        span {
            border-bottom: 1px dotted #434a53;
        }
        &:hover {
            cursor: pointer;
            color: $accent;
            span {
                border-color: $accent;
            }
            svg {
                fill: $accent;
            }
        }
    }
}
//slick
.slick-arrow {
    padding: 12px 16px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    border-radius: 3px;
    background-color: $main-color;
    fill: $white;
    position: absolute;
    bottom: -80px;
    right: 0;
    z-index: 2;
    &:hover {
        opacity: 0.5;
    }
}
.svg-left {
    right: 66px;
}
.video {
    width: 21px;
    height: 15px;
    fill: $main-color;
}