section.about
    .about__wrap
        .about-slider
            .about-slider__item
                .overlay
                img(src='img/about/about-1.jpg', alt='about')
            .about-slider__item
                .overlay
                img(src="img/about/about-2.jpg", alt="about")
            .about-slider__item
                .overlay
                img(src="img/about/about-3.jpg", alt="about")
            .about-slider__item
                .overlay
                img(src="img/about/about-1.jpg", alt="about")
            .about-slider__item
                .overlay
                img(src="img/about/about-2.jpg", alt="about")
            .about-slider__item
                .overlay
                img(src="img/about/about-3.jpg", alt="about")
            .about-slider__item
                .overlay
                img(src="img/about/about-2.jpg", alt="about")
            .about-slider__item
                .overlay
                img(src="img/about/about-3.jpg", alt="about")
        .wrap-center
            .wrap
                .about-info
                    .logo-wrap
                        .logo 
                            svg.logo-color
                                use(xlink:href='img/logo.svg#logo')
                    .about-text
                        p RETAILER – один из ключевых поставщиков информации о потребительском рынке. История компании началась в 2003 году с запуска сообщества профессионалов розничной торговли RETAILER.ru. Пятнадцать лет мы помогаем ритейлерам строить розницу будущего. Ежедневно наши данные используют в работе более 20 000 человек. 
                        p 
                            span Наши клиенты – наши партнеры. 
                            | Их тысячи, а география их работы – вся планета. Среди них розничные компании, поставщики решений для ритейла, поставщики товаров народного потребления, участники рынка торговой недвижимости, банки и страховые компании. 
                        p 
                            span   
                                |С 2014 года раз в квартал компания проводит 
                                span.main-span Центры переговоров 
                                | по торговой недвижимости. 
                    a(href="#").btn.btn--transparent Перейти в раздел о нас