section.cost-retailers.cost-dev
    .wrap
        .main-title--wrap.displaynone1024 
            .main-title Стоимость участия
            p Чтобы получить возможность самостоятельно формировать расписание и записываться к интересующим компаниям, выберите пакет переговоров. 
        .main-title--wrap.display1024 
            .main-title Выбор пакета и оплата
        
        .cost-retailers__slider
            .cost-retailers__item
                .cost 
                    .cost__title 5 переговоров
                    .cost__main
                        .cost__price 25 000₽
                        .cost__descr /   1 раунд = 5000₽   /
                    .cost__btn Выбрать
            .cost-retailers__item
                .cost 
                    .cost__title 10 переговоров
                    .cost__main
                        .cost__price 40 000₽
                        .cost__descr /   1 раунд = 4000₽   /
                    .cost__btn Выбрать
            .cost-retailers__item
                .cost 
                    .cost__title 15 переговоров
                    .cost__main
                        .cost__price 52 500₽
                        .cost__descr /   1 раунд = 3500₽   /
                    .cost__btn Выбрать
            .cost-retailers__item
                .cost
                    .cost__title 20 переговоров
                    .cost__main
                        .cost__price 60 000₽
                        .cost__descr /   1 раунд = 3000₽   /
                    .cost__btn Выбрать
                    .advice.display1024
                        | скорее всего, вам подойдет 
                        span данный пакет
            .cost-retailers__item
                .cost
                    .cost__title 30 переговоров
                    .cost__main
                        .cost__price 84 000₽
                        .cost__descr /   1 раунд = 2800₽   /
                    .cost__btn Выбрать
        .cost__about 
            | — Пакеты 20 и 30 переговоров могут быть разделены 
            span между несколькими 
            | делегатами
        .cost-retailers__descriptions 
            .cost-retailers__description--wrap
                .cost-retailers__description 
                    | Деньги зачисляются 
                    span на ваш счет 
                    | в личном кабинете. 
            .cost-retailers__description--wrap
                .cost-retailers__description 
                    | Если вам не удастся исчерпать депозит (например, вы записались только к 8 партнерам из 10), остаток на счету вы сможете потратить 
                    span на следующем 
                    | Центре переговоров. 
            .cost-retailers__description--wrap
                .cost-retailers__description 
                    | Средства также можно потратить на 
                    spzn on-line переговоры 
                    | в RE-CONNECT.