footer.footer
    .wrap
        .footer__wrap
            .logo-wrap
                .logo 
                    svg.logo-color
                        use(xlink:href='img/logo.svg#logo')
            .social
                a.social__item.fb(href="#") 
                    svg.fb
                        use(xlink:href='img/icons/fb.svg#fb')
                a.social__item.tw(href="#") 
                    svg.skype
                        use(xlink:href='img/icons/skype.svg#skype')
                a.social__item.ins(href="#")
                    svg.whatsapp
                        use(xlink:href='img/icons/whatsapp.svg#whatsapp')
            .footer-info
                .footer-info__wrap
                    .footer-info__title Эксперт в коммуникациях на рынке торговой недвижимости
                    .footer-info__text 15 лет мы знакомим нужных друг другу людей и способствуем заключению выгодных сделок
            .contacts
                .contacts__tel 
                    svg.tel
                        use(xlink:href='img/icons/phone_white.svg#phone_white')
                    a(href="tel:+78005006606") + 7(800) 500-66-06
                .contacts__mail 
                    svg.mail
                        use(xlink:href='img/icons/mail.svg#mail')
                    a(href="mailto:ask@retailer.ru") ask@retailer.ru
            .rights Хорошего понедельника! © 2018 - RETAILER.ru
script(src="js/scripts.min.js")
script(src="js/common.js")