header.header-retailers.header-dev
	.header-overlay
		.wrap
			.logo-wrap
				.logo 
					svg.logo-color
						use(xlink:href='img/logo.svg#logo')
				a.login(href="#") Вход
			.header-retailers__line
				ul
					li.active покупателям
					li.line
					li торговым сетям
					li.line
					li.pre-last предприятиям общественного питания
					li.line
					li операторам розничных услуг
					li.line
					li банкам
			
			.header-retailers__main
				.header-retailers__title Я предлагаю недвижимость
				.header-retailers__info
					p На Центре переговоров операторы торговых площадей проводят до 28 встреч с потенциальными арендаторами и покупателями. В переговорах участвуют активно развивающиеся торговые сети, предприятия общественного питания и операторы розничных услуг.
					p Наши участники:
					ul 
						li 
							span 01
							| Имеют активные потребности в развитии
						li 
							span 02
							| Ищут площади в Москве и регионах  
						li 
							span 03
							| Рассматривают street, ТЦ, отдельно стоящие здания и участки
