header.header-retailers
	.header-overlay
		.wrap
			.logo-wrap
				.logo 
					svg.logo-color
						use(xlink:href='img/logo.svg#logo')
				a.login(href="#") Вход
			.header-retailers__line
				ul
					li.active покупателям
					li.line
					li торговым сетям
					li.line
					li.pre-last предприятиям общественного питания
					li.line
					li операторам розничных услуг
					li.line
					li банкам
			
			.header-retailers__main
				.header-retailers__title Я ищу недвижимость
				.header-retailers__info
					p На центре переговоров операторы розничных товаров и услуг находят подходящую недвижимость для своих точек: площади в торговых центрах и в street, отдельно стоящие здания и участки в аренду и продажу. 
					p В один день на площадке можно встретиться с 28 потенциальными партнерами из столицы и регионов. Все они:
					ul 
						li 
							span 01
							| Имеют свободные площади или хотят пересмотреть состав арендаторов 
						li 
							span 02
							| Управляют целым набором объектов и площадей в них 
						li 
							span 03
							| Готовы разговаривать предметно здесь и сейчас

			