head
	meta(charset='UTF-8')
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	meta(name="keywords" content="Теги сайта")
	meta(name="description" content="Описание сайта")
	meta(name="author" lang="ru" content="Helen Portna")

	//- link(rel="shortcut icon" href="img/favicon.png")

	link(rel="stylesheet" href="css/main.min.css")

	title Retailer 