section.how
    .wrap
        .main-title Как это работает?
        .how__wrap
            .how__block
                .how__descr
                    .how__title Ищете торговые площади?
                    ul.how_list
                        li Опишите свои требования к площадям
                        li Подберем подходящие объекты
                        li Организуем переговоры
                .how__pic
                    svg.ret
                        use(xlink:href='img/icons/ret.svg#ret') 
                .how__btn
                    a(href="#").btn.btn--white Найти операторов торговых площадей
                

            .how__center
                .how__line.how__line--left
                .how__line.how__line--right
                .logo 
                    svg.logo-white
                        use(xlink:href='img/logo_white.svg#logo_white')
            .how__block.how__block--right
                .how__descr
                    .how__title Есть торговые площади?
                    ul.how_list
                        li Опишите пишите свои объекты
                        li Подберем торговые сети, которым они подходят
                        li Организуем переговоры
                .how__pic
                    svg.dev
                        use(xlink:href='img/icons/dev.svg#dev') 
                .how__btn
                    a(href="#").btn.btn--white Найти ритейлеров