section.participation-retailers
    .wrap
        .participation-retailers__block
            .main-title Как принять участие
            .step Регистрация
            .step 
                span.step--choose Подбор партнеров
                .step__description
                    .step__title Укажите ограничения
                    .step__title Откройте запись к себе
                    .step__subtitle Бесплатно
                    p Сразу после регистрации ваша компания появится в списке участников, операторы площадей смогут записаться на переговоры с вами.
                    .step__title Запишитесь на переговоры
                    .step__subtitle Платно
                        a(href="#")
                            svg.externallink
                                use(xlink:href='img/icons/externallink.svg#externallink') 
                    p Станьте активным участником и начните самостоятельно записываться на переговоры к интересующим компаниям.


            .step Создание расписания
            .step Переговоры в назначенный день
        .participation-retailers__block.participation-retailers__block--right
            .participation-retailers__limit
                .main-title.main-title--grey Ограничения на подбор партнеров
                p 
                    | Чтобы ваши переговоры прошли эффективнее, мы предлагаем ввести ограничения на подбор партнеров. 
                    span Вводить ограничения или нет - всегда остается на ваше усмотрение. 
            .participation-retailers__table
                .participation-retailers__without
                    .limit__title Без ограничений
                    .limit__about
                        p 
                            | К вам смогут записаться 
                            span любые компании, 
                            | вне зависимости от того, соответствуют ли они вашим требованиям к торговым площадям
                    .limit__about
                        p 
                            | Вы сможете записаться 
                            span только 
                            | к компаниям, не указавшим ограничения
                .participation-retailers__with
                    .limit__title 
                        span С ограничениями
                    .limit__about
                        p 
                            | К вам смогут записаться только операторы 
                            span подходящих 
                            | торговых площадей
                    .limit__about
                        p 
                            | Вы сможете записаться к компаниям, которые вам 
                            span подходят 
                            | и к тем, кто 
                            span не указал ограничения