section.partners
    .wrap
        .main-title Недвижимость у нас ищут
        .partners__wrap.partners-slider
            .partners__items
                .partners__item-wrap
                    .partners__item
                        img(src="img/partners/logo-pyatyorochka.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-dns.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-sportmaster.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-magnit.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-letual.png", alt="partners")
            .partners__items
                .partners__item-wrap
                    .partners__item
                        img(src="img/partners/logo-apteka.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-auchan.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-azbuka-vkusa.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-citilink.gif", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-detskiy-mir.png", alt="partners")
            .partners__items
                .partners__item-wrap
                    .partners__item
                        img(src="img/partners/logo-evroset.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-gj.jpg", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-lenta.png", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-okey.jpg", alt="partners")
                    .partners__item
                        img(src="img/partners/logo-riv.png", alt="partners")