section.quick-date
    .wrap
        .quick-date__wrap
            .quick-date__main
                .quick-date__title.quick-date__title--bottom Розничные сети 
                .quick-date__text.quick-date__text--bottom
                    span — 
                    |   находят подходящие торговые площади
                .main-title__wrap
                    .main-title__wrap480
                        .main-title 
                            | Переговоры по торговой недвижимости в формате 
                            span быстрых 
                            |  свиданий
                
                .quick-date__title.quick-date__title--top Операторы торговых площадей 
                .quick-date__text 
                    span — 
                    |   находят арендаторов и покупателей
        .quick-date__steps
            ul
                li 
                    span.quick-date__number 01
                    .quick-date__descr До 28 переговоров за день с партнерами со всей России
                li 
                    span.quick-date__number 02
                    .quick-date__descr Участвуют люди, принимающие решения
                li 
                   span.quick-date__number 03
                   .quick-date__descr Заранее спланированные встречи с подходящими партнерами 
        .quick-date__btn
            a(href="#").btn.btn--transparent.btn--grey 
                svg.archive
                    use(xlink:href='img/icons/archive.svg#archive') 
                span Как это было раньше






