section.way
    .wrap
        .main-title 
            | Самый 
            span удобный способ 
            | решать ваши задачи 
        .way__wrap
            .way__item
                .way__logo
                    svg.clock
                        use(xlink:href='img/icons/clock.svg#clock')
                .way__descr
                    .way__title Экономия времени
                    svg.clock--mini
                        use(xlink:href='img/icons/clock.svg#clock')
                    .way__text
                        span За один день 
                        | вы проводите переговоры, на организацию которых в обычных условиях ушло бы 
                        span не меньше месяца.
            .way__item
                .way__logo
                    svg.contact
                        use(xlink:href='img/icons/contact.svg#contact')
                .way__descr
                    .way__title Уникальные контакты
                    svg.contact--mini
                        use(xlink:href='img/icons/contact.svg#contact')
                    .way__text
                        | На одной площадке в один день собираются 
                        span все нужные люди 
                        | из столицы и регионов. 
            .way__item
                .way__logo
                    svg.mutual_interest
                        use(xlink:href='img/icons/mutual_interest.svg#mutual_interest')
                .way__descr
                    .way__title Взаимный интерес
                    svg.mutual_interest--mini
                            use(xlink:href='img/icons/mutual_interest.svg#mutual_interest')
                    .way__text
                        | Сюда приходят только люди 
                        span с активными потребностями: 
                        | в развитии или арендаторах.